body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Ngăn scroll ngang trên mobile */
}

*, *::before, *::after {
  box-sizing: border-box; /* Đảm bảo width không bị tràn */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-datepicker__input-container input{
  /* padding: 10px; */
  font-size: 20px;
}
.datetime {
  padding: 5px !important;
}
.css-1hzbeld-euiOverlayMask-aboveHeader{
  padding-block-end: 0px !important;
}